@font-face {
    font-family: monono;
    src: url(https://haw-type-design.github.io/noordzij-cube/fonts/monono-Regular.woff2);
}
html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: monono;
    font-size: 14px;
    scroll-behavior: smooth;
}

#canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    font-family: "Verdana";
}
.info {
    position: absolute;
    bottom: 24px;
    right: 12px;
    font-family: monono;
    font-size: 14px;
}

#infoPopover {
    visibility: hidden;
    position: absolute;
    background-color: white;
    bottom: 96px;
    width: 480px;
    right: 12px;
    font-family: monono;
    font-size: 14px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
}
h1 {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    font-weight: 400;
}

.visible {
    visibility:visible !important;
}

button {
    background-color: white;
    box-shadow: none;
    border: 1px solid black;
    padding: 8px 16px;
}
a{
    color: inherit;
}